.mainHeader {
  padding: 20px 30px;
  display: flex;
  height: 2.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #114b2d;
  color: white;
}

.headerText {
  font-size: 24px;
  margin: 0px 10px;
}

.mainHeader a {
  color: white;

}
ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

li {
  padding-left: 1rem;
}

a {
  text-decoration: none;
}
